[user]
        name = feng.cheng@bytedance.com
        email = feng.cheng@bytedance.com@bytedance.com
[url "ssh://feng.cheng@bytedance.com@git.byted.org:29418"]
        insteadOf = https://git.byted.org
[url "ssh://feng.cheng@bytedance.com@git.byted.org:29418"]
        insteadOf = https://review.byted.org
[url "git@code.byted.org:"]
        insteadOf = https://code.byted.org/
